@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.eot');
  src: local('../fonts/Raleway Bold'), local('Raleway-Bold'), url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Bold.woff2') format('woff2'), url('../fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold.ttf') format('truetype'), url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.eot');
  src: local('Raleway'), local('Raleway-Regular'), url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Regular.woff2') format('woff2'), url('../fonts/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway-Regular.ttf') format('truetype'), url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  font-family: 'Raleway';
  box-sizing: border-box;
}

html {
  font-size: 10px;
}


.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  padding: 0 auto;
}

header {
  height: 35px;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 4rem;

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;

ul>li {
  position: relative;
  padding: 0 1.2rem;
}
}
}
}
/*
        Menu Rozwijane
*/

         display: flex;
         justify-content: space-between;

         ul{
           list-style: none;
           display: flex;
           padding: 0;

           > li{
             position: relative;

             /**
               Otwarcie menu po najeździe myszką na pierwsze <li>
              */
             &:hover{
               .dropdown-menu{
                 display: flex;
               }
             }

             a{
               display: block;
               padding: 5px 10px;
             }


             /**
               Menu Rozwijane
              */
             .dropdown-menu{
               flex-direction: column;
               background-color: #000;
               position: absolute;
               display: none;
               margin-top: 20px;


               /**
                 Strzałka
                */
               &:before{
                 content: "";
                 position: absolute;
                 width: 0;
                 height: 0;
                 border-color: transparent transparent #000 transparent;
                 border-width: 0 10px 20px 10px;
                 border-style: solid;
                 top: -20px;
                 left: 50%;
                 margin-left: -10px;
               }

               a{
                 color: white;
               }
             }
           }
         }
       }

/*
Log color
*/

span {
  color: #00B89F;
  font-weight: bold;
}


/*
Slider
*/

.first_section {
  height: 435px;
  background: -moz-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(243, 245, 247, 1) 50%, rgba(189, 189, 189, 1) 99%, rgba(252, 252, 252, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(243, 245, 247, 1) 50%, rgba(189, 189, 189, 1) 99%, rgba(252, 252, 252, 1) 100%);
  background: -o-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(243, 245, 247, 1) 50%, rgba(189, 189, 189, 1) 99%, rgba(252, 252, 252, 1) 100%);
  background: -ms-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(243, 245, 247, 1) 50%, rgba(189, 189, 189, 1) 99%, rgba(252, 252, 252, 1) 100%);
  background: linear-gradient(to bottom, rgba(252, 252, 252, 1) 0%, rgba(243, 245, 247, 1) 50%, rgba(189, 189, 189, 1) 99%, rgba(252, 252, 252, 1) 100%);
}

.first_section .container {
  align-items: center;
  padding: 2%;
}

.slider {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-flow: wrap;

    img {
      width: 50%;

      .text {
        width: 50%;
        text-align: center;
        font-size: 1.6rem;
        padding-right: 5%;

        .text h1 {
          text-transform: uppercase;
          padding-bottom: 8%;
          font-size: 3.5rem;

          .text p {
            padding-bottom: 5%;
            font-size: 1.6rem;
        }
      }
    }
  }
}

/*
Buttons slider
*/

.arrow {
  font-size: 7rem;
  box-sizing: border-box;
  color: rgb(40, 199, 171);
  border-color: transparent;
  background-color: transparent;
  outline: none;
}

.seeMore {
  height: 4rem;
  width: 22rem;
  background-color: rgb(40, 199, 171);
  border-radius: 10px;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  outline: none;
  margin-top: 1%;
}


#first_slide{
  display: flex;
}

#second_slide {
  display: none;
}


/*
Gallery
*/

.second_section {
  height: 300px;
  display: flex;
}

.second_section .container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  padding: 2% 3% 0 3%;
}

.image {
  width: 30%;
  height: 22rem;
}

#left {
  background-image: url('../images/box1_img.jpg');
  background-size: cover;
  height: 75%;
}

#center {
  background-image: url('../images/box2_img.jpg');
  background-size: cover;
  height: 75%;
}

#right {
  height: 80%;
  width: 31%;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  font-size: 1.3rem;
  padding: 2%;
}

h3 {
  width: 14rem;
  border-bottom: 4px solid #00B89F;
}

.stripe {
  height: 5rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  top: 65%;
}

.underscore {
  width: 14rem;
  border-bottom: 5px solid rgb(40, 199, 171);
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  left: 10px;
  top: 30%;
}


/*
Price list
*/

.price_list {
  height: 603px;
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-flow: column;
  width: 100%;
}

.price_list .container {
  display: flex;
  flex-flow: wrap;
  padding-top: 2%;
  justify-content: center;
  align-items: flex-start;
}

.box_offer {
  display: flex;
  padding-top: 3%;
}

.underscore_longer {
  font-size: 2rem;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  top: -1%;
  height: 30px;

}

.underscore_longer:before {
  content: "";
  position: absolute;
  width: 27.5rem;
  border-color: transparent transparent rgb(40, 199, 171) transparent;
  border-width: 5px 0 5px 0;
  border-style: solid;
  bottom: -10%;
}

.container3 {
  width: 28.5rem;
  height: 42.5rem;
  border: 2px solid rgb(194, 194, 194);
  margin: 3rem 1rem;
  background-color: rgb(250, 250, 250);
}

#container2 {
  background-color: rgb(40, 199, 171);
  color: white;
  border: 2px solid rgb(40, 199, 171);
}

.price_circle {
  width: 11.5rem;
  height: 11.5rem;
  border-radius: 100%;
  border: 2px solid rgb(194, 194, 194);
  box-sizing: border-box;
  position: relative;
  left: 8rem;
  color: rgb(194, 194, 194);
}

#price_circle {
  border: 2px solid rgb(250, 250, 250);
  background-color: white;
  color: rgb(40, 199, 171);
}

.price, .currency {
  font-weight: bold;
  box-sizing: border-box;
}

.price {
  width: 70px;
  height: 40px;
  text-align: center;
  font-size: 4rem;
  position: absolute;
  left: 2rem;
  top: 1.8rem;
}

.currency {
  font-size: 1.3rem;
  position: relative;
  top: 7rem;
  left: 2.5rem;
  text-transform: uppercase;
}

sup {
  font-size: 1.4rem;
}

.outer-circle {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background-color: white;
  border: 2px solid rgb(194, 194, 194);
  margin: -3rem auto;
  vertical-align: middle;
}

#out_circle {
  border: 2px solid rgb(40, 199, 171);
  background-color: rgb(40, 199, 171);
}

.inner-circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: rgb(194, 194, 194);
  margin: 0 auto;
  vertical-align: middle;
  margin-top: 1.25rem;
  margin-bottom: -1.25rem;
}

#in_circle {
  background-color: white;
}

.head {
  text-align: center;
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: rgb(40, 199, 171);
}

#other_style {
  color: white;
}

.main_text {
  text-align: center;
  font-size: 1.5rem;
  margin: 0 auto;
  height: 15rem;
  padding-top: 3rem;
  color: grey;
}

.first_style, .second_style {
  background-color: rgb(228, 228, 228);
  height: 3rem;
  width: 100%;
  font-size: 2rem;
  padding: 1%;
  ;
}

.first_other {
  background-color: white;
}

.second_style {
  background-color: rgb(241, 241, 241);
}

.button {
  box-sizing: border-box;
  width: 11rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-radius: 5px;
  margin: 4.5rem auto;
  padding: 0.5rem;
  background-color: rgb(40, 199, 171);
  color: white;
}

#other_button {
  background-color: white;
  color: rgb(40, 199, 171);
  font-weight: bold;
}


/*
Form
*/

.form_section {
  height: 460px;
}

.form_section .container {
  display: flex;
  justify-content: space-around;
}

.box1_form {
  width: 52%;
  height: 100%;
  box-sizing: border-box;
  font-size: 3rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.box2_approve {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#form_ok {
  display: flex;
  flex-direction: row;
  padding: 3% 0;
}

#form_ok img {
  margin-right: 2%;
  width: 15%;
  border: 1px solid rgba(40, 199, 171, 0.5);
}

#approve {
  font-size: 18px;
  color: rgb(194, 194, 194);
}

.form {
  margin-top: -15%;
}

input[type="submit"] {
  height: 6rem;
  width: 29rem;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: rgb(40, 199, 171);
  color: white;
}

input {
  display: block;
  width: 100%;
  height: 4.5rem;
  padding: 0.5rem;
  margin: 2rem auto;
  font-size: 3rem;
  border: 1px solid rgb(40, 199, 171);
}

textarea {
  height: 16rem;
  width: 100%;
  font-size: 3rem;
  border: 1px solid rgb(40, 199, 171);
}

::-webkit-input-placeholder {
  color: rgb(194, 194, 194);
}

::-moz-placeholder {
  color: rgb(194, 194, 194);
}


/* firefox 19+ */

:-ms-input-placeholder {
  color: rgb(194, 194, 194);
}



/*Footer*/

.foot {
  height: 80px;
  color: grey;
  display: flex;
}
.foot .container{
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: 1.5rem;


}
.right_side{
  display: flex;
  width: 38%;
  justify-content: space-between;
}

.images_bottom {

}

.logo_bottom {
  font-size: 18px;
  color: grey;
  text-transform: uppercase;
}

.span2 {
  font-weight: bold;
}
